# Use containers instead of full VMs for faster startup.
sudo: false

language: python
python:
  - "2.7"

# command to run tests
script:
  - echo "Hello World SH Test 0"
  - python ./Package1/test1.py
  - python ./Package2/test2.py

