# Use containers instead of full VMs for faster startup.
sudo: false

language: python
python:
  - "2.7"

install:
  - mkdir _bin
  - cd _bin
  - cmake ..
  - cd ..
  
# command to run tests
script:
  - cd _bin
  - ctest -V
  - cd ..

